<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vmloft.develop.library.report">

    <!--Bugly 统计日志需要-->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application>
        <!--友盟统计-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${umengAppKey}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${appChannel}" />

        <!--Bugly 相关配置-->
        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="${buglyAppId}" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="${appVersionName}" />
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="${appChannel}" />
        <!-- 配置Bugly调试模式（true或者false）-->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="${isDebug}" />
    </application>

</manifest>