<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vmloft.develop.library.common">

    <application>

        <!--通用界面-->
        <!--调试设置页面-->
        <activity
            android:name=".debug.DebugActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme" />

        <!--Web页面-->
        <activity
            android:name=".web.WebActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme" />

        <!--重新定义权限请求主题-->
        <activity
            android:name="com.vmloft.develop.library.tools.permission.VMPermissionActivity"
            android:theme="@style/AppTheme.Permission"
            tools:replace="android:theme" />

        <!-- 全面屏适配 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <!--7.x文件配置-->
        <provider
            android:name="com.vmloft.develop.library.base.common.CFileProvider"
            android:authorities="${applicationId}.common.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
