<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vmloft.develop.library.common">

    <!--Bugly 统计日志需要-->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application>

        <!--通用界面-->
        <!--调试设置页面-->
        <activity
            android:name=".ui.debug.DebugActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme" />

        <!--展示单图页面-->
        <activity
            android:name=".ui.display.DisplaySingleActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.Display" />
        <!--展示多图页面-->
        <activity
            android:name=".ui.display.DisplayMultiActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.Display" />
        <!--Web页面-->
        <activity
            android:name=".ui.web.WebActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme" />

        <!--重新定义权限请求主题-->
        <activity
            android:name="com.vmloft.develop.library.tools.permission.VMPermissionActivity"
            android:theme="@style/AppTheme.Permission"
            tools:replace="android:theme" />

        <!--友盟统计-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${umengAppKey}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${appChannel}" />

        <!--Bugly 相关配置-->
        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="${buglyAppId}" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="${appVersionName}" />
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="${appChannel}" />
        <!-- 配置Bugly调试模式（true或者false）-->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="${isDebug}" />


        <!-- 全面屏适配 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <!--7.x文件配置-->
        <provider
            android:name=".common.CFileProvider"
            android:authorities="${applicationId}.common.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
