<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vmloft.develop.library.base">

    <application>
        <!--通知中间页-->
        <activity
            android:name=".notify.NotifyActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />
    </application>
</manifest>