<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vmloft.develop.app.template">

    <!--网络-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读写文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--录音权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!--手机状态，统计 SDK 需要，但是属于敏感权限，GooglePlay 一般会拒绝商家，所以这里直接不需要此权限-->
    <!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!--闪屏页-->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主界面-->
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTop" />

        <!--引导-->
        <activity android:name=".ui.guide.GuideActivity" />
        <activity android:name=".ui.ads.ADSActivity" />

        <!--登录引导-->
        <activity android:name=".ui.sign.SignGuideActivity" />
        <!--登录-->
        <activity android:name=".ui.sign.SignInActivity" />
        <!--注册-->
        <activity android:name=".ui.sign.SignUpActivity" />

        <!--匹配动画过渡界面-->
        <activity android:name=".ui.main.home.MatchAnimActivity" />

        <!--聊天室列表界面-->
        <activity android:name=".ui.room.RoomListActivity" />

        <!--聊天室创建界面-->
        <activity
            android:name=".ui.room.RoomCreateActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <!--发布-->
        <activity
            android:name=".ui.post.PostCreateActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <!--详情-->
        <activity android:name=".ui.post.PostDetailsActivity" />
        <!--发表评论-->
        <activity
            android:name=".ui.post.PostCommentActivity"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />

        <!--用户信息-->
        <activity android:name=".ui.user.UserInfoActivity" />

        <!--金币-->
        <activity android:name=".ui.trade.GoldActivity" />
        <activity android:name=".ui.trade.GoldDescActivity" />
        <!--订单-->
        <activity android:name=".ui.trade.OrderDetailActivity" />
        <activity android:name=".ui.trade.OrderListActivity" />
        <!--个人信息-->
        <activity android:name=".ui.main.mine.info.PersonalInfoActivity" />
        <activity android:name=".ui.main.mine.info.PersonalInfoGuideActivity" />
        <!--个人信息绑定邮箱-->
        <activity android:name=".ui.main.mine.info.BindEmailActivity" />
        <!--个人信息用户名设置-->
        <activity android:name=".ui.main.mine.info.EditUsernameActivity" />
        <!--二维码-->
        <activity android:name=".ui.main.mine.info.MineQRCodeActivity" />
        <!--个人信息昵称设置-->
        <activity android:name=".ui.main.mine.info.EditNicknameActivity" />
        <!--个人信息签名设置-->
        <activity android:name=".ui.main.mine.info.EditSignatureActivity" />
        <!--个人信息个人认证-->
        <activity android:name=".ui.main.mine.info.PersonalAuthActivity" />

        <!--设置-->
        <activity android:name=".ui.settings.SettingsActivity" />
        <!--账户与安全设置-->
        <activity android:name=".ui.settings.AccountSecuritySettingsActivity" />
        <!--暗色主题设置-->
        <activity android:name=".ui.settings.DarkSettingsActivity" />
        <!--资源设置-->
        <activity android:name=".ui.settings.MediaSettingsActivity" />
        <!--通知设置-->
        <activity android:name=".ui.settings.NotifySettingsActivity" />
        <!--关于-->
        <activity android:name=".ui.settings.AboutSettingsActivity" />
        <!--协议和政策-->
        <activity android:name=".ui.settings.AgreementPolicyActivity" />
        <!--问题反馈-->
        <activity android:name=".ui.feedback.FeedbackActivity" />

    </application>
</manifest>
