<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vmloft.develop.app.template">

    <!--网络-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读写文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--录音权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!--手机状态，统计 SDK 需要，但是属于敏感权限，GooglePlay 一般会拒绝商家，所以这里直接不需要此权限-->
    <!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <!--闪屏页-->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主界面-->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <!--引导-->
        <activity
            android:name=".ui.guide.GuideActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ads.ADSActivity"
            android:exported="false" />

        <!--登录引导-->
        <activity
            android:name=".ui.sign.SignGuideActivity"
            android:exported="false" />
        <!--登录-->
        <activity
            android:name=".ui.sign.SignInActivity"
            android:exported="false" />
        <!--注册-->
        <activity
            android:name=".ui.sign.SignUpActivity"
            android:exported="false" />

        <!--匹配动画过渡界面-->
        <activity
            android:name=".ui.main.home.MatchAnimActivity"
            android:exported="false" />

        <!--聊天室列表界面-->
        <activity
            android:name=".ui.room.RoomListActivity"
            android:exported="false" />

        <!--聊天室创建界面-->
        <activity
            android:name=".ui.room.RoomCreateActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <!--发布-->
        <activity
            android:name=".ui.post.PostCreateActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <!--详情-->
        <activity
            android:name=".ui.post.PostDetailsActivity"
            android:exported="false" />
        <!--发表评论-->
        <activity
            android:name=".ui.post.PostCommentActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />

        <!--用户信息-->
        <activity
            android:name=".ui.user.UserInfoActivity"
            android:exported="false" />
        <!--金币-->
        <activity
            android:name=".ui.trade.GoldActivity"
            android:exported="false" />
        <activity
            android:name=".ui.trade.GoldDescActivity"
            android:exported="false" />
        <activity
            android:name=".ui.trade.GoldRechargeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.trade.GoldTaskActivity"
            android:exported="false" />
        <activity
            android:name=".ui.trade.GoldVipActivity"
            android:exported="false" />
        <!--订单-->
        <activity
            android:name=".ui.trade.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.trade.OrderListActivity"
            android:exported="false" />
        <!--个人信息-->
        <activity
            android:name=".ui.main.mine.info.PersonalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.mine.info.PersonalInfoGuideActivity"
            android:exported="false" />
        <!--个人信息绑定邮箱-->
        <activity
            android:name=".ui.main.mine.info.BindEmailActivity"
            android:exported="false" />
        <!--个人信息用户名设置-->
        <activity
            android:name=".ui.main.mine.info.EditUsernameActivity"
            android:exported="false" />
        <!--二维码-->
        <activity
            android:name=".ui.main.mine.info.MineQRCodeActivity"
            android:exported="false" />
        <!--个人信息昵称设置-->
        <activity
            android:name=".ui.main.mine.info.EditNicknameActivity"
            android:exported="false" />
        <!--个人信息签名设置-->
        <activity
            android:name=".ui.main.mine.info.EditSignatureActivity"
            android:exported="false" />
        <!--个人信息个人认证-->
        <activity
            android:name=".ui.main.mine.info.PersonalAuthActivity"
            android:exported="false" />

        <!--关系列表-->
        <activity
            android:name=".ui.main.mine.relation.RelationListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.mine.relation.BlacklistActivity"
            android:exported="false" />

        <!--设置-->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />
        <!--账户与安全设置-->
        <activity
            android:name=".ui.settings.AccountSecuritySettingsActivity"
            android:exported="false" />
        <!--修改密码-->
        <activity
            android:name=".ui.main.mine.info.UpdatePasswordActivity"
            android:exported="false" />
        <!--隐私设置-->
        <activity
            android:name=".ui.settings.PrivacySettingsActivity"
            android:exported="false" />
        <!--暗色主题设置-->
        <activity
            android:name=".ui.settings.DarkSettingsActivity"
            android:exported="false" />
        <!--资源设置-->
        <activity
            android:name=".ui.settings.MediaSettingsActivity"
            android:exported="false" />
        <!--通知设置-->
        <activity
            android:name=".ui.settings.NotifySettingsActivity"
            android:exported="false" />
        <!--关于-->
        <activity
            android:name=".ui.settings.AboutSettingsActivity"
            android:exported="false" />
        <!--协议和政策-->
        <activity
            android:name=".ui.settings.AgreementPolicyActivity"
            android:exported="false" />
        <!--问题反馈-->
        <activity
            android:name=".ui.feedback.FeedbackActivity"
            android:exported="false" />

    </application>
</manifest>
