<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vmloft.develop.library.gift">

    <application>

        <!--礼物动画界面-->
        <activity
            android:name=".GiftAnimActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <!--我收到的礼物-->
        <activity
            android:name=".GiftMineActivity"
            android:exported="false" />
    </application>
</manifest>